@charset "utf-8";

/**
 *
 *  サイト共通
 *
 */


/*--------------------------------------------------------------------------
	reset
---------------------------------------------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,ins,kbd,q,samp,small,strong,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
ul,ol,li,dl,dt,dd{list-style-type:none;list-style-position:outside;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{text-decoration:none;}
img{vertical-align:top;border:0;}
del{text-decoration:line-through;}
hr{display:block;height:0;border:0;margin:0;padding:0;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
em,strong{ font-weight: bold;}

input,select,textarea{margin:0;padding:0;vertical-align:baseline;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}

img {max-width: 100%;}




/*--------------------------------------------------------------------------
	html
---------------------------------------------------------------------------*/
html{
	overflow-y: scroll;
}



/*--------------------------------------------------------------------------
	body
---------------------------------------------------------------------------*/
body{
	min-width:978px;
	color:#3f3f3f;
	font-family:"メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	font-size:14px;
	font-size:88%\9;
	line-height:1.8;
	-webkit-text-size-adjust:100%;
}


/* Hack: for ie8
body *{ filter: inherit\9;}
*/

/* Hack: for ie9, ie10
@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
}
*/
/*
::-moz-selection{
	color:;
	background:;
}
::selection{
	color:;
	background:;
}
*/



/*--------------------------------------------------------------------------
	a
---------------------------------------------------------------------------*/
a{
	color: #008ed4;
	outline: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
a:link,
a:visited{
}
a:hover{
	color: #47bde8;
	text-decoration:none;
}



/*--------------------------------------------------------------------------
  #Page
---------------------------------------------------------------------------*/
#Page{
}



/*--------------------------------------------------------------------------
	header
---------------------------------------------------------------------------*/
#Header{
}



/*--------------------------------------------------------------------------
	#GlobalNavi
---------------------------------------------------------------------------*/
#GlobalNavi{
}



/*--------------------------------------------------------------------------
	#CrumbsList パンクズ
---------------------------------------------------------------------------*/
#CrumbsList{
}



/*--------------------------------------------------------------------------
	#Container
---------------------------------------------------------------------------*/
#Container{
}



/*--------------------------------------------------------------------------
	#Content
---------------------------------------------------------------------------*/
#Content{
}



/*--------------------------------------------------------------------------
	#Side
---------------------------------------------------------------------------*/
#Side{
}



/*--------------------------------------------------------------------------
	footer
---------------------------------------------------------------------------*/
#Footer{
}

/* small コピーライト
-----------------------------------------------------------------*/
#Footer small{
}



/*--------------------------------------------------------------------------
	clearfix
---------------------------------------------------------------------------*/
.clearfix:before,
.clearfix:after,
.cf:before,
.cf:after{
	content:"";
	display:table;
}
.clearfix:after,
.cf:after{
	clear:both;
}
.clearfix,
.cf{
	zoom:1;
}



/*--------------------------------------------------------------------------
	Snippets
---------------------------------------------------------------------------*/

/* font list
-----------------------------------------------------------------*/
.font-default{font-family:"メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;}
.font-all    {font-family:Roboto, 'Droid Sans',"游ゴシック","YuGothic","Hiragino Kaku Gothic ProN",'ヒラギノ角ゴ ProN W3',"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",sans-serif;}
.font-yu     {font-family:"游ゴシック","YuGothic","Hiragino Kaku Gothic ProN",'ヒラギノ角ゴ ProN W3',"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",sans-serif;}
.font-jp     {font-family: "ヒラギノ角ゴ Pro W3", Osaka, "ＭＳ Ｐゴシック", sans-serif;}
.font-sd     {font-family:Roboto, 'Droid Sans', sans-serif;}
.font-serif  {font-family: serif;}
.font-sans   {font-family: sans-serif;}
.font-times  {font-family: "Times New Roman", Times, serif;}
.font-verdana{font-family: Verdana, sans-serif;}
