@charset "utf-8";

/**
 *
 * TOP: 総合トップページ
 *
 */

/*--------------------------------------------------------------------------
  overwrite スタイルの上書き
--------------------------------------------------------------------------*/



#Page{
	transform: rotate(0);
}






